<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <a class="facebook-button" href="http://facebook.com/theenvoyubc"><i class="fa fa-facebook"></i> Facebook</a>
    <a class="subscribe-button" href="http://eepurl.com/bxMY75"><i class="fa fa-rss"></i> Subscribe</a>
</div>
<span class="nav-cover"></span>
